mixin ymPage
    p.article-blog-text
        | На Яндекс.Маркете собрана информация о всевозможных товарах — от электроники и автозапчастей до одежды и бытовой техники. Для десятков тысяч интернет-магазинов эта торговая площадка стала важнейшим источником трафика — ежегодно платформу посещает 20 миллионов уникальных пользователей. Ниже рассмотрим, как разместить ассортимент своего магазина в Яндекс.Маркет.
    h3.article-blog-header Способы добавления товаров в Яндекс.Маркет
    p.article-blog-text
        | Чтобы добавить товары на Яндекс.Маркет требуется загрузить прайс-лист. Если прайс-лист составлен неправильно, то он не пройдёт проверку и система его не примет. Файл должен быть в формате XLS (Excel) или YML. Способ формирования прайс-листа зависит от особенностей вашего сайта и подбирается индивидуально.
    p.article-blog-text Вот основные из них:
    .article-blog-container
        ul.article-blog-list
            li
                span.text-italic Ручное формирование.
                | &nbsp;Самое простое и дешевое решение, которое не требует сторонней помощи. Подходит для сайтов с небольшим каталогом товаров, в котором редко меняются цены. Чтобы составить прайс-лист вручную, скачайте шаблон и заполните его по инструкции. После этого загрузите файл на свой сайт, и добавьте ссылку на него в личном кабинете Яндекс.Маркета.
            li
                span.text-italic Автоматическое формирование готовыми инструментам.
                | &nbsp;Даже с большим каталогом стандартные интернет-магазины могут обойтись готовыми инструментами — главное, чтобы товары находились в правильных разделах. Для опытного битрикс-разработчика установка и настройка решения не составит труда и займет несколько часов.
            li
                span.text-italic Автоматическое формирование собственной разработки.
                | &nbsp;Бывает, что шаблон магазина сильно дорабатывался и изменялся под потребности бизнеса. Каталог объединен с 1С, а номенклатура насчитывает тысячи товаров. В таком случае нужно разработать функционал, который автоматизирует создание прайс-листов. Это сложная задача, которая требует работы высококвалифицированных программистов.

    p.article-blog-text Так как первый вариант подробно описан на сайте Яндекс.Маркета, а последний сильно зависит от специфики отдельно взятого сайта, подробно мы рассмотрим настройку готовых решений.

    h3.article-blog-header  Выгрузка “1С-Битрикс”
    p.article-blog-text  Штатная установка “1С-Битрикс” предусмотривает несколько вариантов выгрузки товаров:

    .article-blog-img
        img(src='i/blog-detail/ym-1.png' alt="Изображение")

    p.article-blog-text В том числе и тот, который требует торговая площадка. Yandex позволяет отобрать нужные разделы каталога на странице настройки:

    .article-blog-img
        img(src='i/blog-detail/ym-2.png' alt="Изображение")

    p.article-blog-text К сожалению, этот параметр нужно настроить при создании сайта, изменить названия разделов после наполнения контентом — невозможно. Если структура каталога отличается от категорий Яндекс.Маркета товары распределятся по неправильным категориям или вообще не попадут в агрегатор.
    p.article-blog-text Вот так в Яндекс.Маркете выглядят категории для женской одежды:

    .article-blog-img
        img(src='i/blog-detail/ym-3.png' alt="Изображение")

    p.article-blog-text Если вы создаете интернет-магазин с нуля, то следует формировать структуру каталога на сайте и в 1С по рекомендациям Яндекс.Маркета.
    p.article-blog-text Если у вас уже есть сайт с готовой структурой не отчаивайтесь, вам подойдет следующее решение.

    h3.article-blog-header Модуль Подготовка прайс-листа для Маркета и Беру

    p.article-blog-text
        | В 2018 году Яндекс.Маркет выпустил бесплатный модуль специально для “1С-Битрикс”. Модуль решает проблему несоответствия разделов каталога на сайте категориям Яндекс.Маркет. При установке он создает специальное свойство для разделов и товаров, в котором указывается категория Яндекс.Маркет. В прайс-лист попадет не реальный раздел каталога сайта, а указанная категория Яндекс.Маркета.

    .article-blog-img
        img(src='i/blog-detail/ym-4.png' alt="Изображение")

    p.article-blog-text Это свойство также позволяет привязать к категориям товары, которые не попали в специальный раздел на сайте, и оказались, например, в разделе “Прочее”.

    .article-blog-img
        img(src='i/blog-detail/ym-5.png' alt="Изображение")

    p.article-blog-text Штатная выгрузка 1С-Битрикс не позволяет настраивать характеристики товаров. В таком виде они попадут в прайс-лист:

    .article-blog-img
        img(src='i/blog-detail/ym-6.png' alt="Изображение")

    p.article-blog-text Яндекс.Маркет может их не принять из-за разницы в формулировках. Агрегатор “не понимает”, что, например, характеристики “Размер чашки” и “Объем под грудью” это то же самое, что “Чашка” и “Обхват под грудью”.

    .article-blog-img
        img(src='i/blog-detail/ym-7.png' alt="Изображение")

    p.article-blog-text Модуль решает эту проблему — для каждого параметра задается псевдоним, соответствующий стандарту Яндекс.Маркет.

    .article-blog-img
        img(src='i/blog-detail/ym-8.png' alt="Изображение")


    p.article-blog-text Также он позволяет передавать код национальной размерной сетки.

    h3.article-blog-header Установка и настройка модуля
    p.article-blog-text  Модуль бесплатный и доступен в Маркетплейсе. Каждый профиль выгрузки можно настроить индивидуально под требования Яндекс.Маркета, например, для определенных категорий товаров или с группировкой по их характеристикам.

    .article-blog-img
        img(src='i/blog-detail/ym-9.png' alt="Изображение")

    p.article-blog-text Помимо настройки сопоставления характеристик товаров, описанных выше, модуль имеет очень гибкую настройку фильтрации товаров по полям, свойствам и торговым предложениям.

    .article-blog-img
        img(src='i/blog-detail/ym-10.png' alt="Изображение")

    p.article-blog-text Можно настроить фильтр так, что в прайс-лист не попадут товары без картинок, с пустыми свойствами, конкретной ценой и т.д.

    .article-result.article-result--v2
        h3.article-blog-header Заключение
        p.article-blog-text
            | Модуль&nbsp;
            a(href="#") Подготовка прайс-листа для Маркета и Беру
            | &nbsp;позволяет выгружать товары в Яндекс.Маркет по стандарту сервиса из любого каталога сайта. Для этого не требуется модифицировать существующий каталог, достаточно правильно настроить профиль выгрузки.

    +blogDetailFooter