mixin description
    p Во всяком случае,&nbsp
        a(href="#") так обещают на официальном сайте
        | , тогда как в действительности после обновления что-то
        | обязательно ломается, а сотрудник техподдержки отказывается помогать.
    p Давайте разберемся, почему так происходит, и на что стоит обратить внимание, чтобы не попасть в нехорошую ситуацию.
    h3 При создании обращения вы можете задать:
    ol
        li Проект
        li Заголовок
        li Тип задачи
        li Подробное описание
        li Прикрепить файлы, помогающие отразить суть обращения
        li Срочность
    h3 При создании обращения вы можете задать:
    ul
        li Проект
        li Заголовок
        li Тип задачи
        li Подробное описание
        li Прикрепить файлы, помогающие отразить суть обращения
        li Срочность

    figure
        img(src="i/store/97jdt3kt.png")

    p Данный тип необходимо использовать для задач связанных с доработкой дизайна ваших проектов. По задаче будет дана точная оценка в часах с учетом возможных рисков и только после вашего согласования мы приступим к работе.
    p Применяется для исправления нами допущенных ошибок. Перед началом работ проводится аудит есть ли ошибка. В случае если ошибка возникла по нашей вине, то время затраченное на ее исправление не будет включено в счет по итогам месяца.
    p Данный тип необходимо использовать для задач связанных с доработкой дизайна ваших проектов. По задаче будет дана точная оценка в часах с учетом возможных рисков и только после вашего согласования мы приступим к работе.
    p Применяется для исправления нами допущенных ошибок. Перед началом работ проводится аудит есть ли ошибка. В случае если ошибка возникла по нашей вине, то время затраченное на ее исправление не будет включено в счет по итогам месяца.
    .block-description__button
        +buttonBlue(btnText.offer)
