mixin storeDetailPage
    .store-detail-page__in.d-container
        section.page__page-nav
            .m-container
                .page__side-nav
                    +sideNavBlock("Каталог", marketNav)
        .store-detail-page__in
            section.store-detail-page__section
                .m-container
                    h2.page__title-wrap.section-title Установка классной штуки на сайт
