include layout/head
include blocks/buttons/buttons
include blocks/icons/login

include blocks/case-block/case-block
include blocks/cases-list/cases-list

include blocks/questions-list/questions-list
include blocks/question-block/question-block


include blocks/form/form
include blocks/form/form-input/form-input
include blocks/form/form-textarea/form-textarea
include blocks/modal/modal

include modules/forms/form-cases
include modules/forms/form-questions
include modules/cases-page/casess-page

include modules/modals/modal-success-form
include modules/modals/modal-error-form

include modules/questions-page/questions-page


include layout/page-header/page-header
include layout/page-header/contacts/contacts
include layout/page-header/burger/burger
include layout/page-header/preheader/preheader
include layout/page-header/logo/logo
include layout/page-header/partner/partner
include layout/page-header/min-price/min-price
include layout/page-header/site-nav/site-nav
include layout/page-header/main-nav/main-nav
include layout/footer/footer
