include layout/head
include blocks/buttons/buttons
include blocks/icons/login
include blocks/modal/modal
include blocks/partners-list/partners-list
include blocks/benefit-block/benefit-block
include blocks/conditions-block/conditions-block
include blocks/advantages-block/advantages-block
include blocks/social-links/social-links
include blocks/footer-app/footer-app
include blocks/requisite/requisite
include blocks/map-pin/map-pin
include blocks/offer/offer
include blocks/case-header/case-header


include blocks/case-block/case-block
include blocks/cases-list/cases-list

include blocks/questions-list/questions-list
include blocks/question-block/question-block

include blocks/form/form
include blocks/form/form-input/form-input
include blocks/form/form-textarea/form-textarea
include blocks/form/dropzone/dropzone

include blocks/side-nav-block/side-nav-block
include blocks/side-nav/side-nav

include blocks/card/card
include blocks/card-group/card-group
include blocks/card-horizontal/card-horizontal

//
include modules/forms/form-default
include modules/forms/form-questions
include modules/forms/form-contacts

include modules/modals/modal-success-form
include modules/modals/modal-error-form

//страницы
include modules/questions-page/questions-page
include modules/partners-page/partners-page
include modules/cases-page/casess-page
include modules/cases-detail-page/cases-detail-page
include modules/blog-page/blog-page
include modules/store-page/store-page
include modules/contacts-page/contacts-page
include modules/forms-states/forms-states
include modules/store-detail-page/store-detail-page

// лайолит
include layout/page-header/page-header
include layout/page-header/contacts/contacts
include layout/page-header/burger/burger
include layout/page-header/preheader/preheader
include layout/page-header/logo/logo
include layout/page-header/partner/partner
include layout/page-header/min-price/min-price
include layout/page-header/site-nav/site-nav
include layout/page-header/main-nav/main-nav
include layout/page-header/styles

include layout/page-footer/page-footer
include layout/page-footer/scripts
include layout/page-footer/footer-links/footer-links
include layout/page-footer/footer-contacts/footer-contacts
include layout/page-footer/footer-menu/footer-menu
include layout/page-footer/payment-systems/payment-systems
