-
    var paramsPage = {
        INDEX: {
            class: 'index',
            header: 'Понятная техподдержка сайтов на 1С-Битрикс с гарантией выполнения задач',
            image: 'index'
        },
        CASES: {
            class: 'cases',
            header: 'Кейсы',
            image: 'cases'
        },
        QUESTIONS: {
            class: 'questions',
            header: 'Вопросы и ответы',
            image: 'questions',
            pageMainTitle: 'Часто задаваемые вопросы',
            isHideMainTitle: false
            image: 'questions'
        },
        PARTNERS: {
            class: 'partners',
            header: 'Партнерская программа WS Support',
            image: 'partners'
        }
    }

-
    var bgImage = {
        index: 'index',
        cases: 'cases'
    }

-
    var headers = {
        index: 'Главная',
        cases: 'Кейсы'

    }

-
    var btnText = {
        login: 'Личный кабинет',
        callback: 'Перезвоните мне',
        send: 'Отправить',
        ok: 'Хорошо',
        questions: 'Получить ответ',

    }

-
    var contacts = {
        tel: "8 (863) 322-60-25",
        telLink: "88633226025",
        email: "info@wssupport.ru"
    }