-
    var paramsPage = {
        INDEX: {
            class: 'index',
            header: 'Понятная техподдержка сайтов на 1С-Битрикс с гарантией выполнения задач',
            image: 'index'
        },
        CASES: {
            class: 'cases',
            header: 'Кейсы',
            pageMainTitle: 'Кейсы',
            isHideMainTitle: true,
            image: 'cases'
        },
        QUESTIONS: {
            class: 'questions',
            header: 'Вопросы и ответы',
            pageMainTitle: 'Часто задаваемые вопросы',
            isHideMainTitle: false,
            image: 'questions'
        },
        BLOG: {
            class: 'blog',
            header: 'Блог',
            pageMainTitle: 'Блог',
            isHideMainTitle: false,
            image: 'blog'
        },
        PARTNERS: {
            class: 'partners',
            header: 'Партнерская программа WS Support',
            image: 'partners',
            pageMainTitle: 'Выгоды от партнерства с нами',
            isHideMainTitle: false
        },
        MARKET: {
            class: 'store',
            header: 'Магазин задач',
            image: 'store',
            pageMainTitle: 'Магазин задач',
        },
        CONTACTS: {
            class: 'contacts',
            header: 'Контакты',
            image: 'contacts',
        }
    }

-
    var btnText = {
        login: 'Личный кабинет',
        callback: 'Перезвоните мне',
        send: 'Отправить',
        ok: 'Хорошо',
        questions: 'Получить ответ',

    }

-
    var contacts = {
        tel: "8 (863) 322-60-25",
        telLink: "88633226025",
        email: "info@wssupport.ru"
    }

-
    var cardType = {
        CASES: "cases",
    }