-
    var paramsPage = {
        INDEX: {
            class: 'index',
            header: 'Понятная техподдержка сайтов на 1С-Битрикс с гарантией выполнения задач',
            image: 'index',
            pageMainTitle: 'Техническая поддрежка и обсуживание сайта',
            btnUp: false,
        },
        CASES: {
            class: 'cases',
            header: 'Кейсы',
            pageMainTitle: 'Кейсы',
            image: 'cases',
            btnUp: false,
        },
        CASES_DETAIL: {
            class: 'cases-detail',
            header: 'Синхронизация статей тестовой площадки с продакшн-сайтом',
            pageMainTitle: 'Синхронизация статей тестовой площадки с продакшн-сайтом',
            image: 'cases-detail',
            btnUp: false,
        },
        QUESTIONS: {
            class: 'questions',
            header: 'Вопросы и ответы',
            pageMainTitle: 'Часто задаваемые вопросы',
            image: 'questions',
            btnUp: false,
        },
        BLOG_DETAIL: {
            class: 'blog-detail',
            image: 'blog-google',
            btnUp: false,
        },
        BLOG: {
            class: 'blog',
            header: 'Блог',
            pageMainTitle: 'Блог',
            image: 'blog',
            btnUp: false,
        },
        PARTNERS: {
            class: 'partners',
            header: 'Партнерская программа WS Support',
            image: 'partners',
            pageMainTitle: 'Партнерская программа WS Support',
            btnUp: false,
        },
        MARKET: {
            class: 'store',
            header: 'Магазин задач',
            image: 'store',
            pageMainTitle: 'Магазин задач',
            btnUp: false,
        },
        CONTACTS: {
            class: 'contacts',
            header: 'Контакты',
            image: 'contacts',
            pageMainTitle: 'Контакты',
            btnUp: false,
        },
        STORE_DETAIL: {
            class: 'store',
            header: 'Магазин задач',
            image: 'store-detail',
            pageMainTitle: "Установка классной штуки на сайт",
            btnUp: false,
        },
        TASK: {
            class: 'blog-detail',
            image: 'task',
            header: 'Как мы проводим оценку задач',
            btnUp: true,

        },
        GOOGLE_PAGE: {
            header: 'Google Page Insights: что это и как улучшить показатели своего сайта',
            btnUp: true,
        },
        YM: {
            class: 'blog-detail',
            header: 'Как подключить интернет-магазин на 1С-Битрикс к Яндекс.Маркет ',
            image: 'ym',
            pageMainTitle: 'Как подключить интернет-магазин на 1С-Битрикс к Яндекс.Маркет ',
            btnUp: true,
        },
        UPDATE: {
            class: 'blog-detail',
            image: 'update-bitrix',
            header: 'Чем опасно самостоятельное обновление «1С-Битрикс»',
            btnUp: true,
        }
    }

-
    var btnText = {
        login: 'Личный кабинет',
        callback: 'Перезвоните мне',
        send: 'Отправить',
        ok: 'Хорошо',
        questions: 'Получить ответ',
        offer: 'Добавить на свой сайт',
        cases: 'Ко всем кейсам',
        enter: 'Войти',
        all: 'Посмотреть все задачи',
        reg: 'Регистрация',
        requisite: 'Запросить договор',
        conditions: 'Присоединиться к программе',
        sale: 'Получить скидку',
        faq: 'Задать вопрос',
        index: 'Узнать стоимость своей задачи',
        index2: 'Зарегистрироваться'
    }

-
    var contacts = {
        tel: "8 (863) 322-60-25",
        telLink: "88633226025",
        email: "info@wssupport.ru"
    }

-
    var cardType = {
        CASES: "cases",
    }