extends ../../blocks/card-group/_card-group
block arr
    -
        var arr = [
            {
                title: 'Автодобавление контактов в email-рассылку UniSender',
            },
            {
                title: 'Удаление вредоносного кода (вирусов) с сайта',
            },
        ];
block mixin
    +card(val, 'card--hover card--cases')
