-
    var param = {
        text: 'Существуют различные инструменты для поисковой оптимизации, и сегодня мы расскажем о том, как использовать Google Page Insights — специальный онлайн-сервис для замера скорости загрузки страниц и выявления проблемных мест.',
        img: 'i/blog-detail/jgbyfxg7.png',
        alt: 'Изображение к тексту',
    }

mixin googlePage
    .block-description
        .container-sm
            p Сегодня никто не захочет тратить свое время на медленный сайт.
                | От скорости сайта зависит то, на каком месте он окажется в поисковой
                | выдаче. Google, например, измеряет время получения первого байта браузером
                | от сервера. Поэтому, чем медленнее сайт, тем меньше страниц просканирует
                | робот, и это плохо скажется на индексации.
            .blog-page__card
                +cardIn(param)

            p Из-за этого при экспорте контента часто пропадают ссылки на видео, изображения, комментарии к ним и другие свойства элементов, и на исправление ошибок также уходит время.
            h3 Google Page Insights
            p PageSpeed Insights анализирует содержание веб-страницы и предлагает решения, которые позволят ускорить ее загрузку.
            p Информация о результатах анализа страницы представлена на вкладках для мобильной и десктопной версий сайта.
            img(src="i/blog/blog-detail/97jdt3kt.png" alt="Описание к изображению")
            p Оптимизация оценивается по 100-балльной шкале, и в зависимости от результата получает один из трех статусов: Good, Medium, или Low.

    .container-sm
        .row.text-center
            .col-3
                h3.subject.text-green Good
                p.text-xs От 80 и выше. Страница применяет самые лучшие методы работы, и для полной оптимизации нужно сделать совсем немного.
            .col-3
                h3.subject.text-orange Medium
                p.text-xs От 60 до 79. Средний показатель страницы указывает на недостаток в определенных операциях.
            .col-3
                h3.subject.text-red Low
                p.text-xs Ниже 60. Страница не оптимизирована, и для оптимизации необходимо серьезно поработать.
        p Показатели скорости страницы также разбиваются на три категории (Fast, Average, Slow).
        p Вместе с результатами сервис предлагает ряд рекомендаций, которые помогут оптимизировать сайт.
        img(src="i/blog/detail/sn0aptbl.png" alt="Изображение")
        h3 Основные рекомендации по оптимизации
        include advice-list

