-
    var paramGoogle = {
        text: 'Существуют различные инструменты для поисковой оптимизации, и сегодня мы расскажем о том, как использовать Google Page Insights — специальный онлайн-сервис для замера скорости загрузки страниц и выявления проблемных мест.',
        img: 'i/blog-detail/jgbyfxg7.png',
        alt: 'Изображение к тексту',
    }

mixin googlePage
    .page__section
        .article-blog
            p.article-blog-text Сегодня никто не захочет тратить свое время на медленный сайт.
                | От скорости сайта зависит то, на каком месте он окажется в поисковой
                | выдаче. Google, например, измеряет время получения первого байта браузером
                | от сервера. Поэтому, чем медленнее сайт, тем меньше страниц просканирует
                | робот, и это плохо скажется на индексации.
            .article-blog-container
                .article-blog-group.article-blog-group--v2
                    ._in
                        ._inner
                            p.article-blog-text=paramGoogle.text
                        ._img-wrap
                            img(src=paramGoogle.img alt=paramGoogle.alt)

            p.article-blog-text Из-за этого при экспорте контента часто пропадают ссылки на видео, изображения, комментарии к ним и другие свойства элементов, и на исправление ошибок также уходит время.
            h3.article-blog-header Google Page Insights
            p.article-blog-text PageSpeed Insights анализирует содержание веб-страницы и предлагает решения, которые позволят ускорить ее загрузку.
            p.article-blog-text Информация о результатах анализа страницы представлена на вкладках для мобильной и десктопной версий сайта.
            .article-blog-img
                img(src="i/blog-detail/97jdt3kt.png" alt="Описание к изображению")
            p.article-blog-text Оптимизация оценивается по 100-балльной шкале, и в зависимости от результата получает один из трех статусов: Good, Medium, или Low.

            .article-blog-container
                .row-wrap.text-center
                    .col-12.col-lg-3
                        h3.subject.text-green Good
                        p.text-xs От 80 и выше. Страница применяет самые лучшие методы работы, и для полной оптимизации нужно сделать совсем немного.
                    .col-12.col-lg-3
                        h3.subject.text-orange Medium
                        p.text-xs От 60 до 79. Средний показатель страницы указывает на недостаток в определенных операциях.
                    .col-12.col-lg-3
                        h3.subject.text-red Low
                        p.text-xs Ниже 60. Страница не оптимизирована, и для оптимизации необходимо серьезно поработать.
            p.article-blog-text Показатели скорости страницы также разбиваются на три категории (Fast, Average, Slow).
            p.article-blog-text Вместе с результатами сервис предлагает ряд рекомендаций, которые помогут оптимизировать сайт.
            .article-blog-img
                img(src="i/blog-detail/sn0aptbl.png" alt="Изображение")
            h3.article-blog-header Основные рекомендации по оптимизации
            .article-blog-container
                include advice-list
            h3.article-blog-header Как проходит оптимизация сайта: случай из практики
            p.article-blog-text В WS Support обратился клиент, которого не устраивала медленная скорость работы его интернет-магазина. Мы проверили сайт с помощью Google Page Insights. Результат был критически низким — 0 из 100.
            .article-blog-img
                img(src="i/blog-detail/97jdt3sdfkt.png" alt="Изображение")
            .article-blog-container
                .article-blog-group
                    h3.article-blog-header Основные рекомендации по увеличению скорости
                    ul.article-blog-list
                        li Оптимизировать изображения
                        li Сократить время ответа сервера
                        li Настроить кеширование компонент
                        li Реализовать ресайз изображений
        +optimizationScheme
        p.article-result
            | Подводя итоги, хотим отметить, что сервис Google Page Insights позволяет любому человеку самостоятельно провести поверхностную проверку сайта и решить для себя, как лучше действовать. Если результат проверки окажется удовлетворительным, то можно оставить все как есть. В противном же случае следует обратиться к профессионалам, которые помогут вашему сайту лучше ранжироваться при поиске.
        +blogDetailFooter