/**************** conditions-block *****************/

$conditionsList: ("conditions-more", "conditions-status", "conditions-benefit");

@import "src/style/_";


.conditions-block {
    padding: 40px 30px 10px;

    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 165%;
        font-family: $fontOpenSans;
        text-align: center;
        font-style: normal;
    }

    &__icon {
        display: block;
        width: 100px;
        height: 100px;
        margin: 0 auto 35px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @each $item in $conditionsList {
            &--#{$item} {
                background-image: url("i/partners/#{$item}.svg");
            }
        }
    }
}
