mixin optimizationScheme
    section.optimization-scheme.article-wrapper
        ._in
            ._status
                dl._dl
                    dd._dd Оптимизация
                    dt._dt.color-red 0/100
                dl._dl
                    dd._dd  Загрузка
                    dt._dt.color-red 2.7 сек
            ._item
                p._text С помощью модуля Dev2Fun сжаты изображения

            ._item
                p._text Агенты переведены на cron
            ._status-separatop.order-lg-1
                ._separatop
            ._status.optimization-scheme__second-status
                dl._dl
                    dd._dd Оптимизация
                    dt._dt.color-yellow 34/100
            ._item.order-lg-2
                p._text Настроено кеширование компонент
            ._item.order-lg-2
                p._text Реализован ресайз изображений при выводе
            ._status.optimization-scheme__last-status.order-lg-2
                dl._dl
                    dd._dd Оптимизация
                    dt._dt.color-green 77/100
                dl._dl
                    dd._dd Загрузка
                    dt._dt.color-green 0.7 сек
            ._status-separatop
                ._separatop