-
    var group = [
        {
            title: 'Копирование сайта и создание тестовой площадки',
            text: 'Специалист воссоздает точную копию сайта и помещает ее на тестовую площадку'
        },
        {
            title: 'Выявление проблем и возможностей доработки',
            text: 'Уже на этом этапе понятно, хватит ли штатных средств «1С-Битрикс», или потребуется работа с кодом'
        },
        {
            title: 'Проверка внутренних зависимостей',
            text: 'Проверяется каким образом работы на сайте повлияют на связанный с блоком работ функционал'
        },
        {
            title: 'Тестирование работы сторонних модулей',
            text: 'Если для работы необходимо использование стороннего модуля, проводится пробная установка модуля, проверяется его работа и оценивается время, необходимое на настройку'
        },
        {
            title: 'Запрос необходимой информации',
            text: 'Если для решения проблемы нужна информация от сторонних специалистов (например, помощь техподдержки службы доставки или программиста 1С со стороны клиента), отправляется запрос\n'
        },
        {
            title: 'Выставление окончательной оценки',
            text: 'Теперь можно подсчитать общее время на выполнение всех работ и вынести точную оценку'
        },
    ]


mixin taskEvaluation
    .page__section
        p.article-blog-text За время жизни любого сайта возникают ситуации, когда нужно что-то быстренько починить, подправить или добавить. Со стороны такие задачи кажутся пустяковыми, но только до тех пор, пока не выставят счет на крупную сумму. От таких неприятных сюрпризов спасает предварительная оценка задач. В этой статье мы расскажем, как проводим оценку задач, чем отличаемся от других компаний, и какие преимущества это дает нашим клиентам
        h3.article-blog-header Виды задач и их особенности
        p.article-blog-text
            | Одновременно на поддержке в WS Support находятся не меньше 100 сайтов и интернет-магазинов на «1С-Битрикс». Но даже столь узкая специализация и большой опыт работы не позволяют с точностью оценивать объем работ на глаз. Все потому, что большинство задач не являются типовыми. Типовые задачи требуют четкой последовательности действий и практически не зависят от сайта. Это значит, что как для интернет-магазина, так и для информационного портала, оценивается четкий список подзадач, которые нужно выполнить согласно доступной документации и инструкциям, которые предоставляют сторонние сервисы.
        p.article-blog-text Примеры типовых задач:
        .article-blog-container
            ul.article-blog-list
                li обновление 1С: Битрикс до последней актуальной версии;
                li внедрение микроразметки Sсhema.оrg для правильного формирования сниппетов;
                li повышение производительности сайта по рекомендациям PageSpeed Insights.
        p.article-blog-text Также существуют и несложные универсальные задачи, на выполнение которых требуется не более двух часов — настройка редиректов с http на https, изменение контактных данных на сайте или установка счетчиков Яндекс Метрики.
        p.article-blog-text Случается, что в процессе выполнения вскрываются подводные камни. В таких случаях мы сообщаем заказчику о непредвиденных работах и согласовываем расширение оценки.
        p.article-blog-text Во всех остальных случаях точно определить сроки выполнения без предварительной оценки невозможно. Это связано со степенью кастомизации сайта — насколько сильно он отличается от стандартного функционала «1С-Битрикс».
        h3.article-blog-header Как мы оцениваем задачи
        .article-wrapper
            .container
                +articleNumberGroup(group)
        p.article-blog-text На оценку уходит время, поэтому многие компании предпочитают обойтись без первых пяти пунктов, полагаясь исключительно на свой опыт. Мы не поддерживаем такой подход.
        p.article-blog-text Наша схема точной оценки задач имеет неоспоримые преимущества:
        .article-blog-container
            ul.article-blog-list
                li этап оценки задачи включает в себя предварительные работы, необходимые для ее выполнения;
                li нет задержки в процессе выполнения задачи —  вас заведомо предупредят о необходимых дополнительных работах;
                li вы знаете точную стоимость работы;
                li риски отсутствуют — если оценка не устраивает, вы вправе отказаться  от выполнения задачи.
        p.article-blog-text Таким образом, мы не только даем ответ на вопрос “сколько это стоит”, но и задаем сроки выполнения задачи.
        .article-blog-container
            .article-blog-group.article-blog-group--v2
                ._in
                    ._inner
                        h3.article-blog-header Как получить оценку задачи?
                        p.article-blog-text При создании обращения в личном кабинете выберите тип «Доработка с оценкой». Это значит, что поставленную задачу примут в работу только после согласования оценки с вами.
                    ._img-wrap
                        img(src='i/blog-detail/task-1.png' alt='Изображение')
    +blogDetailFooter
