-
    var contactsList = [
        {
            isError: false,
            label: 'Адрес электронной почты',
            errorText: 'Неверный формат почты',
            requireType: 'email',
            type: 'email',
            placeholder: 'e-mail@example.com',
            isRequire: true,
            value: ''
        },
        {
            isError: false,
            label: 'Телефон',
            errorText: 'Введите номер телефона',
            requireType: 'tel',
            type: 'tel',
            placeholder: 'X (XXX) XX-XX-XX',
            isRequire: true,
            value: ''
        },
        {
            isError: false,
            label: 'Телефон',
            errorText: 'Введите номер телефона22',
            requireType: 'inputFile',
            type: 'inputFile',
            placeholder: 'Прикрепить или перетащить файлы',
            isRequire: false,
            value: ''
        },
    ]

mixin formContacts(formName)
    .page__form
        +form(contactsList, formName, btnText.requisite)
