/********************** disclaimer **************************/

@import "src/style/_";

.disclaimer {
    margin: 0;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: color(disclaimer);

    a {
        font-family: $fontOpenSans;
        color: color(blue);
    }
}

/********************** end disclaimer **************************/
