-
    var partnetsForm = [
        {
            isError: false,
            isRequire: true,
            label: 'Адрес электронной почты',
            errorText: 'Неверный формат почты',
            requireType: 'email',
            type: 'email',
            placeholder: 'e-mail@example.com',
            value: ''
        },
        {
            isError: false,
            isRequire: false,
            label: 'ваш Вопрос',
            errorText: 'Напишите свой вопрос',
            requireType: 'textarea',
            type: 'textarea',
            placeholder: 'Напишите свой вопрос',
            value: ''
        },
    ]

mixin formQuestions
    +form(partnetsForm, 'questions', btnText.questions)
