include ../_
doctype html
html
    block var
    +head(pageTitle)
    body
        +pageHeader(headerImage, contentClassModifier)
            block header
        main(class=`${contentClassModifier}-page `).page
            if(isContainer == true)
                .container
                    block content
            else
                block content
        +pageFooter()
        +scripts
