mixin _partnersList(mixin, list, state)
    ul(class=state ? "partner-list--arrow": "").partner-list
        each val in list
            if(mixin == 'benefit')
                li._item
                    +benefitBlock(val)
            else if(mixin == 'conditions')
                li._item
                    +conditionsBlock(val)
            else if(mixin == 'advantages')
                li._item
                    +advantagesBlock(val)


mixin partnersList(mixin, list)
    +_partnersList(mixin, list)

mixin partnersListArrow(mixin, list)
    - var state = "advantages";
    +_partnersList(mixin, list, state)