/************ шапка сайта ***************/

@import "src/style/_";

.page-header {
    position: relative;
    z-index: 3;
    box-sizing: border-box;
    min-height: 520px;
    padding: 30px 20px 29px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;


    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(77.35deg, rgba(48, 166, 216, 0.6) 0%, rgba(84, 211, 146, 0.6) 100%);
        mix-blend-mode: hard-light;
    }

    &__decor {
       position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        z-index: -2;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);


        mix-blend-mode: normal;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: block;
            z-index: -1;
            background: rgba(138, 138, 138, 0.3);
            mix-blend-mode: normal;

        }

        @include desktopStyle {

        }
    }


    &__tagline {
        @include desktopStyle {
            margin-bottom: 91px;
        }
    }

    &__btn {
        margin: 20px auto 0;
        text-align: center;

        @include desktopStyle {
            margin-top: 32px;
        }
    }

    &__counter {
        position: absolute;
        bottom: -140px;
        left: 50%;
        transform: translateX(-50%);
    }

    @media (min-width: 992px) {
        z-index: 0;
    }

    @media (min-width: $desktop) {
        //max-width: 1300px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 8px;
    }


    &--index {
        z-index: 5;
        min-height: 800px;
    }

    &--partners {
        min-height: 520px;

    }

    &--cases-detail {
        min-height: 520px;
    }


    &__in {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1300px;
        margin-right: auto;
        margin-bottom: 19px;
        margin-left: auto;

        @media (min-width: 992px) {
            .page-header--index & {
                margin-bottom: 138px;
            }
        }

        @include desktopStyle {
            margin-bottom: 64px;
            .page-header--index & {
                margin-bottom: 96px;
            }
        }
    }

    &__title:not(:last-child) {
        margin-bottom: 16px;
        //position: absolute;
        //top: 50%;
        //left: 50%;
        //transform: translate(-50%, -50%);
    }

    &__h3 {
        margin-top: 16px;
        text-align: center;
    }

    &__preheader {

        @media (min-width: 560px) {
            padding-top: 4px;
            display: flex;
            flex: 1 0;
            justify-content: center;
            align-items: center;
        }

        @media (min-width: $desktop) {
            padding-top: 0;
            flex: 0 0 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            order: -1;
            margin-bottom: 16px;
        }
    }

    &__block {
        width: 227px;
        margin-right: auto;
        margin-left: auto;

        svg {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }

        &--partner {
            width: auto;
            margin-top: -10px;
        }
    }

    &__logo {
        flex: 0 0 auto;
        order: -1;

        @media (min-width: 480px) {
            flex: 0 0 80px;
        }

        @media (min-width: $desktop) {
            margin-right: 16px;
        }
    }

    &__main-nav {

        @media (min-width: 480px) {
            flex: 0 0 80px;
            text-align: right;
        }

        @media (min-width: $desktop) {
            flex: 1 0;
            align-self: center;
        }
    }

    &__contacts {
        //margin-right: 24px;

        @media (min-width: $mobMenu) {
            flex: 0 1 50%;
            min-width: 50%;
        }

        @media (min-width: $preheaderPoint) {
            flex: none;
            min-width: auto;
        }


        @media (min-width: $desktop) {
            min-width: auto;
        }
    }

    &__callback {
        flex: 0 0 50%;

        @media (min-width: $preheaderPoint) {
            flex: none;
        }

        @media (min-width: $desktop) {
            text-align: right;
        }
    }

    &__separatop {
        width: 100%;
        height: 2px;
        margin: 8px 0 0;
        padding: 0;
        overflow: hidden;
        background-image: url("i/separator.svg");
    }

    &__body {
        position: absolute;
        top: 50%;
        left: 50%;
        box-sizing: border-box;
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        padding-right: 20px;
        padding-left: 20px;
        transform: translate(-50%, -50%);

        .page-header--index & {
            @media(min-width: 992px) {
                position: static;
                transform: none;
            }
        }

        @include desktopStyle {
            position: static;
            padding-right: 0;
            padding-left: 0;
            transform: none;
        }
    }
}
/************ end шапка сайта ***************/
