mixin pageHeader(image, contentClassModifier)
    header.page-header(class=`page-header--${contentClassModifier}` style=`background-image: url(/i/header/${image}.png)`)
        ._in
            ._preheader.d-none.d-m-block
                ._contacts
                    +contactsPreheader()
                ._callback
                    +buttonCallback(btnText.callback)
                p._separatop.d-none.d-xl-block
            ._logo
                +logo()
            ._main-nav
                +mainNav()
        ._body
            block
