/************* main-counter *************/

@import "src/style/_";

.main-counter {
    box-sizing: border-box;
    width: 220px;
    height: 220px;
    padding: 50px 33px;
    text-align: center;
    background: color(white);
    border: 2px solid color(grey);
    border-radius: 50%;
    box-shadow: 20px 30px 60px rgba(11, 24, 36, 0.1);

    &__count {
        @include gradientText;
        margin-bottom: 8px;
        font-weight: 100;
        font-size: 60px;
        line-height: 60px;
        font-family: $fontHelvetica;
        text-align: center;
        color: #009EE3;
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 140%;
        color: #000000;
        font-family: $fontOpenSans;
    }
}
