mixin cardHorizontal(item)
    a(href="#").card-horizontal
        p._img
            img(src=`i/${item.img}`)
        ._body
            p._title.card-horizontal__wrap=item.title
            p._price.card-horizontal__wrap=item.price
            p._tag.card-horizontal__wrap=item.tag
