mixin modal(params)
    div(class=`modal--${params.class}` id=params.id).modal
        ._in
            .modal__subheading
                h4(class=`modal__${params.titleClass}`).gradient-text=params.title
                if(params.subtitle)
                    h3.page-subheading=params.subtitle
            ._body
                block
