mixin modal(params)
    div(class=`modal--${params.class}` id=params.id).modal
        ._in
            h4(class=`modal__${params.titleClass}`).gradient-text=params.title
            //button(type='button')._close.button-close
            ._body
                block
