mixin ticket
    .ticket
        ._img
        ._content
            ._content-in.text-center
                ._section-title.section-title.block-center Прозрачная лотерея с тремя подарками!
                ._text.content-block-text Сотрите защитный слой и узнайте, что подготовили для вас специалисты “WS Support"
                .ticket__canvas#ticket-container
                    canvas#ticket-canvas
                    p.ticket__sale#ticketResultBtn 25% скидка на стоимость продуктов 1С-Битрикс на личный счет
                a(data-toggle="modal" data-target="sale").ticket__link.hidden-default.text-link.blue-color#ticketLink Воспользоваться скидкой
        ._detachable
            i._detachable-in
            ._detachable-content
                p#ticketNumber 001
                p wssupport.ru