-
    var questionsList = [
        {
            title: 'Какая квалификация у ваших специалистов?',
            text: 'Все наши разработчики являются сертифицированными специалистами, прошедшими платные курсы академии "1С-Битрикс". ',
            icon: 'man',
        },
        {
            title: 'Чем отличается обычная доработка от доработки с оценкой?',
            text: 'Доработка с оценкой позволяет зафиксировать время, которое будет затрачено на выполнение задачи. В случае обычной доработки к оплате будет выставлено фактически затраченное время на задачу.',
            icon: 'time',
        },
        {
            title: 'Как происходит оценка времени задачи?',
            text: 'Оценку производит опытный программист. Он оценивает время необходимое на выполнение задачи с учетом рисков.',
            icon: 'price',
        },
        {
            title: 'Как вы берете оплату за свои услуги? После каждой задачи выставляете счет?',
            text: 'Оплату принимаем как на счет ООО "ВС САППОРТ", так и через банковские карты, webmoney и яндекс.деньги. Вы можете заносить средства на лицевой счет после завершения каждой задачи, либо внести деньги сразу за несколько задач.',
            icon: 'payment',
        },
        {
            title: 'Правильно я понимаю, что вы берете предоплату?',
            text: 'Для больших задач может потребоваться взнос предоплаты. Все новые клиенты могут выполнить задачу до 5 часов без внесения предоплаты. В случае успешного сотрудничества лимит в 5 часов может быть расширен для вашего удобства.',
            icon: 'prepaid',
        },
        {
            title: 'Какие требования к площадке/хостингу моего сайта?',
            text: 'Площадка сайта должна удовлетворять требованиям CMS "1С-Битрикс". Перед началом работ мы бесплатно делаем проверку площадки сайта. Также хостинг должен позволять использовать GIT.',
            icon: 'hosting',
        },
        {
            title: 'Если я найду баги уже после принятия работы, то вы их исправите?',
            text: 'Свои ошибки мы исправляем за свой счет, при условии того,что исходный код проекта не менялся третьими лицами. Для исправления наших ошибок вы можете создать обращение с пометкой "Ошибка".',
            icon: 'bags',
        },
        {
            title: 'Кто тестирует вашу работу?',
            text: 'В нашей компании есть отдел тестирования, который обязательно проверяет работу наших программистов. В статистике затраченного времени на задачу работы по программированию и тестированию разделены. ',
            icon: 'testing',
        },
        {
            title: 'Если я поставлю высокий приоритет всем задачам, то вы сделаете их быстрее?',
            text: 'К задаче приступим сразу же, но стоимость за услуги будет увеличена в два раза. Рекомендуется использовать для действительно срочных задач, которые влияют на работоспособность проекта.',
            icon: 'priority',
        },
        {
            title: 'Могу ли я дать доступ своим сотрудникам? Например для SEO-специалиста.',
            text: 'В личном кабинете есть возможность подключать сотрудников к проектам на нашем сайте. Сотрудники получют все те же права, что и владелец личного кабинета. ',
            icon: 'access',
        },
        {
            title: 'Как быстро проставляется время в задачах?',
            text: 'Синхронизация с нашим внутренним порталом происходит каждый час.',
            icon: 'syncing',
        },
        {
            title: 'Принимаете ли вы задачи по телефону или почте?',
            text: 'Мы принимаем задачи только через личный кабинет на нашем сайте.',
            icon: 'portal',
        },
        {
            title: 'Мне нужно сделать полноценный проект. Вы беретесь за это?',
            text: 'Наша компания, помимо поддержки уже готовых проектов на "1С-Битрикс", может выполнить работы по созданию нового проекта. Напишите нам на info@wssupport.ru',
            icon: 'beginning',
        },
    ]

mixin questionsList
    ul.questions-list
        each val in questionsList
            li._item
                ._in
                    +questionBlock(val)
