-
    var requisiteList = [
        ["ООО «ВС САППОРТ»", "ОГРН 1176196061546", "ИНН 6165211290", "КПП 616501001", "ОКПО 22907628"],
        ["Юридический адрес: 344064, г.Ростов - на - Дону, ул.Вавилова, 62В, офис 503"],
        ["р/с 40702810310000263834", "АО \"ТИНЬКОФФ БАНК\"", "к/с  30101810145250000974", "БИК 044525974"],
        ["Директор Мул Максим Юрьевич действует на основании Устава."]
    ]


mixin requisite
    .requisite
        h3._title Наши реквизиты
        each item in requisiteList
            ._wrap
                each val in item
                    p._text=val
        p._in.text-right
            a(href="#")._link Скачать реквизиты