/******************* card *********************/

@import "src/style/_";

.card {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background: color(white);
    border: 2px solid color(grey);
    border-radius: 4px;
    box-sizing: border-box;


    &--hover {

        &:hover {
            .card__title {
                color: color(blue);
                transition: color 300ms ease-in;
            }

            .card__img img {
                transform: scale(1.1);
                transition: transform 300ms ease-in;
            }

        }
        .card__title {
            transition: color 300ms ease-in;
        }

        .card__img {
            overflow: hidden;
        }

        .card__img img {
            transition: transform 300ms ease-in;
        }
    }


    &__in {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;

        .card__text {
            @media (min-width: 768px) {
                padding: 39px;
                flex: 1 0;
            }
        }
    }


    @media (min-width: $ml) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &__icon-blok {
        position: absolute;
        top: 6px;
        right: 6px;
        z-index: 3;
    }

    & &__text {
        margin: 0;
        font-size: 18px;
        line-height: 165%;
    }

    &__icon {
        padding: 4px;
        display: block;
        height: 24px;
        line-height: 0;

        @media (min-width: 480px) {
            padding: 8px;
            height: 32px;
        }

        &--vert {
            height: 48px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__img {
        position: relative;
        margin: 0;
        height: 0;
        padding-top: 50.78%;
        overflow: hidden;
        line-height: 0;
        border-radius: 4px;
        box-shadow: 0 0 0 2px color(grey);
        width: 100%;

        .card--cases & {
            position: relative;

            &:before {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                content: "";
                display: block;
                background-image: linear-gradient(224.82deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 36.38%);
                z-index: 2;
            }
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__img-wrap {
        margin: 0 auto 20px;
        flex: 0 0 auto;
        width: 50%;
        max-width: 220px;
        order: -1;

        @media (min-width: 768px) {
            order: 0;
            margin: 0 0 0 40px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            margin: 0;
        }
    }

    &__body {
        padding: 29px;

        @media (min-width: $ml) {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__inner {


        @media (min-width: 768px) {
            flex: 1 0;
        }
    }

    &__title {
        margin: 0 0 20px;
        font-weight: 600;
        font-size: 24px;
        line-height: 40px;
        color: color(black);
        letter-spacing: 0.01em;
        word-break: break-word;

        .card--cases & {
            margin-bottom: 92px;
        }
    }

    &__link {
        margin: 0;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        color: color(blue);
        text-decoration-line: underline;

        @media (min-width: 480px) {
            margin-top: 28px;
        }
    }
}

/******************* end case-card *********************/

