.balloon.index-page__balloon.line-block.balloon-d-left
    p._text.content-block-text Ставить задачи и общаться с разработчиками можно с помощью нашего удобного мобильного приложения на iOS и Android
    ._apps
        +apps