ul.list
    li._item
        .content-block line-block
            i.icon
            h3.__title Развитие проекта
            ul
                li Доработка текущего функционала
                li Доработка текущего функционала
                li Доработка дизайна интерфейса
                li Интеграция с платежными системами
                li Интеграция со сторонними сервисами
                li Интеграция с 1С
                li Интеграция с Мой склад
                li Композитный сайт
                li Интеграция интернет-магазина c онлайн-кассой, в соответствии с 54-ФЗ

    li._item
        .content-block line-block
            h3.__title Развитие проекта
            ul
                li Добавление графики, видео, презентаций
                li Размещение новостей, статей, обзоров
                li Разработка баннеров
                li Верстка новых страниц
                li Верстка новых страниц
                li Настройка импорта/экспорта
                li Дизайн и верстка макетов email-рассылки
                li Подготовка отчетов и презентаций в PDF
                li Установка кодов метрик различных систем
    li._item
        .content-block line-block
            h3.__title Технические работы
            ul
                li Устранение ошибок в работе сайта
                li Обновление редакции "1С-Битрикс"
                li Функциональное тестирование
                li Размещение сайта на хостинге
                li Переезд с одного хостинга на другой
                li Автоматическое резервное копирование
                li Удаление вирусов, устранение уязвимостей
                li Оптимизация работы и ускорение загрузки

