mixin indexPage
    .main-page__counter.d-none.d-lm-block
        .container
            +mainCounterList

    .page__section
        .container
            .page__title-wrap.section-title Поддержка сайта — просто, как 1-2-3
            +doubleStageBlock

    .page__section
        .container
            .page__title-wrap.section-title Единственная в России система хостингов сайтов на 1С-Битрикс
            +doubleStageBlockNum