.content-block.line-block
    i._icon.block-center
    p._title Не нашли подходящее решение?
    p._text.content-block-text Бесплатно зарегистрируйтесь в личном кабинете и поставьте первую задачу на оценку.
    ._button
        +buttonBlue(btnText.reg)