.content-block.line-block.content-block--v2
    i._icon.block-center
    p._title Не нашли подходящее решение?
    p._text.content-block-text Бесплатно зарегистрируйтесь в личном кабинете и поставьте первую задачу на оценку.
    ._button
        button(type="submit" ).button.button--blue
            .d-none.d-sm-block=btnText.index
            .d-sm-none=btnText.index2