/************* form *************/

@import "src/style/_";

#dropzone-template-container {
    display: none;
}

.dropzone-block {
    &__container {
        position: relative;
        z-index: 100;
        box-sizing: border-box;
        min-height: 70px;
        max-height: 70px;
        padding: 23px 20px;
        border: 1px dashed #0ABAEE;
        cursor: pointer;

        &:hover .dropzone-block__clickable {
            background: rgba(10, 186, 238, 0.08);
            transition: background 200ms ease-in;
        }
    }

    .dropzone &__preview {
        display: flex;
        width: auto;
        min-height: 0;
        margin: 0 0 12px;
        overflow: hidden;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__progress {
        position: relative;
        box-sizing: border-box;
        width: 80px;
        height: 8px;
        overflow: hidden;
        border: 1px solid color(gainsboro);
        border-radius: 16px;

        .dz-complete & {
            opacity: 0;
            transition: opacity 300ms ease-in;
        }
    }

    &__upload {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        background: linear-gradient(80.07deg, #326BD2 0%, #5CD384 100%);
        transition: width 1000ms ease-in;
    }

    &__details {
        flex: 0 1 auto;
        margin-right: 8px;
    }

    &__filename {
        margin-bottom: 4px;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        color: color(black);
        letter-spacing: 0.05em;
    }

    &__size {
        display: none;
        margin-right: 4px;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: color(placeholder);

        strong {
            font-weight: 300;
        }

        .dz-complete & {
            display: block;
        }

        .dz-error & {
            display: none;
        }
    }

    &__error-mark {
        display: none;
    }

    .dropzone .dz-remove {
        display: block;
        flex: 0 0 auto;
        width: 24px;
        height: 24px;
        font-size: 0;
        background: url("i/dropzone/remove.svg");
        transition: opacity 300ms ease-in;

        &:hover {
            opacity: 0.8;
            transition: opacity 300ms ease-in;
        }
    }

    &__message {
        display: none;
    }

    &__img {
        flex: 0 0 40px;
        width: 40px;
        height: 40px;
        margin-right: 8px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__wrap {
        display: flex;
    }

    &__success-mark {
        display: none;
        width: 16px;
        height: 16px;
        background: url("i/dropzone/dropzone-success.svg");

        .dz-success & {
            display: block;
        }
    }

    &__title {
        position: relative;
        margin: 0;
        padding-left: 36px;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        color: color(blue);
        letter-spacing: 0.05em;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 24px;
            height: 24px;
            background: url("i/dropzone/attach-file.svg");
            transform: translateY(-50%);
        }
    }

    &__clickable {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        z-index: 5;
        transition: background 200ms ease-in;
    }

    &__files {
        min-height: 0;
        margin-top: 20px;
        padding: 0;
        background: transparent;
        border: 0;
    }

    &__error-mark {
        display: none;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: color(error2);

        .dz-error & {
            display: block;
        }
    }

    .dz-error-message {
        display: none !important;
    }
}
