mixin apps
    ul.apps
        li._item
            img(src="i/index/google_store.png" alt="Иконка google store")
        li._item
            img(src="i/index/apple_store.png" alt="Иконка apple store")