mixin _button(text, mixin)
    button(type="button" class=`${mixin}`).button=text

mixin _buttonSubmit(text, mixin)
    button(type="submit" class=`${mixin}`).button=text

mixin _buttonDeep(mixin)
    button(type="button" class=mixin).button
        block

mixin buttonBlue(text)
    +_buttonSubmit(text, 'button--blue')

mixin buttonModal(text)
    +_buttonSubmit(text, 'button--blue js-modal-close')

mixin buttonGradient(text)
    +_buttonDeep('button--gradient')
        span=text

mixin button(text)
    +_button(text, '')

mixin buttonWhite(text)
    +_button(text, 'button--white')

mixin buttonLogin()
    +_buttonDeep('button--icon ')
        span Личный кабинет
        i._icon
            +loginSvg

