/*************** footer-menu ****************/

@import "src/style/_";
$margin: 10px;

.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: -$margin;
    margin-bottom: -$margin;

    &__item {
        display: block;
    }

    &__link {
        display: block;
        padding: $margin 0;
        font-family: $fontOpenSans;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: color(white);
        text-align: center;
        text-decoration: none;

        span {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: transparentize(color(white), 0.7);
            }
        }
    }
}
