-
    var paramSuccessForm = {
        class: "modal",
        title: "Спасибо за обращение",
        id: "id-success-form",
        titleClass: "subtitle",
        subtitle: 'Наш специалист перезвонит вам в ближайшее время'
    }
mixin modalSuccessForm
    +modal(paramSuccessForm)
        //p.modal__subheading.page-subheading
        +buttonModal(btnText.ok)



