-
    var paramSuccessForm = {
        class: "modal",
        title: "Спасибо за обращение",
        id: "id-success-form",
        titleClass: "subtitle"
    }
mixin modalSuccessForm
    +modal(paramSuccessForm)
        p.modal__subheading.page-subheading Наш специалист перезвонит вам в ближайшее время
        +buttonModal(btnText.ok)



