-
    var paramAuthorization = {
        class: "modal",
        title: "Вход",
        id: "authorization",
        titleClass: "title"
    }

mixin modalAuthorization
    +modal(paramAuthorization)
        +formAuthorization
