-
    var paramCallback = {
        class: "modal",
        title: "Обратный звонок",
        id: "callback",
        titleClass: "title",
        subtitle: "Оставьте свои контактные данные, вскоре мы вам перезвоним и ответим на все вопросы",
    }

mixin modalCallback
    +modal(paramCallback)
        +formCallback
