-
    var paramSale = {
        class: "modal",
        title: "Получите свою скидку",
        subtitle: 'Оставьте свои данные и мы пришлем ваш код на скидку.',
        id: "sale",
        titleClass: "title",
    };

mixin modalSale
    +modal(paramSale)
        +formSale
