-
    var paramsErrorForm = {
        class: "modal",
        title: "Ошибка отправки формы",
        id: "id-error-form",
        titleClass: "subtitle"
    }


mixin modalErrorForm
    +modal(paramsErrorForm)
        p.modal__subheading.page-subheading Извините, попробуйте позднее
        +buttonModal(btnText.ok)

