extends ../includes/layout/layout.pug
block test
    include ../includes/_var
    - var headerImage = paramsPage.CASES.image;
    - var contentClassModifier = paramsPage.CASES.class
    - var pageMainTitleHide = paramsPage.CASES.isHideMainTitle;
    - var pageMainTitle = paramsPage.CASES.pageMainTitle


block header
    h1.page-header__title.page-title=paramsPage.CASES.header
block content
    +casesPage
