extends ../includes/layout/layout.pug

block var
    include ../includes/_var
    - var headerImage = paramsPage.GOOGLE_PAGE.image;
    - var pageTitle = paramsPage.GOOGLE_PAGE.pageMainTitle;
    - var contentClassModifier = paramsPage.GOOGLE_PAGE.class
    - var isContainer = false;


block header
        h1.page-header__title.page-title=paramsPage.GOOGLE_PAGE.header
block content
    +googlePage
