include ../includes/_

- var indexPage = true;
// -var pageId = "indexPage";
// -var headerBackground = "bg_index.jpg";
-var pageTitle = "Понятная техподдержка сайтов на 1С-Битрикс с гарантией выполнения задач";

+structure(paramsPage.INDEX.header, paramsPage.INDEX.class, paramsPage.INDEX.image)

