extends ../includes/layout/layout.pug

block test
    include ../includes/_var
    - var headerImage = paramsPage.INDEX.image;
    - var contentClassModifier = paramsPage.INDEX.class

block header
    .page-header__wrap
        .page-header__block.page-header--partners
            +partner()
        .page-header__block
            +minPrice()
        h1.page-header__title.page-title=paramsPage.INDEX.header
block content
    h2 главная страница сайта
