extends ../includes/layout/layout.pug

block var
    include ../includes/_var
    - var headerImage = paramsPage.PARTNERS.image;
    - var pageTitle = paramsPage.PARTNERS.pageMainTitle;
    - var contentClassModifier = paramsPage.PARTNERS.class;
    - var isContainer = false;


block header
    h1.page-header__title.page-title=paramsPage.PARTNERS.header
    h3.page-header__h3.page-h3 Поможем заработать на клиентах нуждающихся в поддержке сайта или интернет-магазина на 1С-Битрикс
block content
    +partnersPage
