include ../includes/_

- var indexPage = false;
- var pageTitle = paramsPage.QUESTIONS.header;
+structure(paramsPage.QUESTIONS.header, paramsPage.QUESTIONS.class, paramsPage.QUESTIONS.image)
    +questionsPage
