extends ../includes/layout/layout.pug

block var
    include ../includes/_var
    - var headerImage = paramsPage.QUESTIONS.image;
    - var pageTitle = paramsPage.QUESTIONS.pageMainTitle;
    - var contentClassModifier = paramsPage.QUESTIONS.class;
    - var pageMainTitleHide = paramsPage.QUESTIONS.isHideMainTitle;
    - var pageMainTitle = paramsPage.QUESTIONS.pageMainTitle;
    - var isContainer = true;

block header
    h1.page-header__title.page-title=paramsPage.QUESTIONS.header
block content
    +questionsPage