extends ../includes/layout/layout.pug

block test
    include ../includes/_var
    - var headerImage = paramsPage.QUESTIONS.image;
    - var contentClassModifier = paramsPage.QUESTIONS.class

block header
    h1.page-header__title.page-title=paramsPage.QUESTIONS.header
block content
    +questionsPage