mixin mainFooter
    .main-footer
        ._menu-wrap
            .main-footer__menu
                +footerMenu(footerMenu[0])
            .main-footer__menu
                +footerMenu(footerMenu[1])
        ._payment-systems
            +paymentSystems
        ._apps

        ._item
