/************** page-footer *******************/

@import "src/style/_";

.page-footer {
    padding: 80px 0;
    background: color(footer);

    &__wrap {
        margin-bottom: 64px;
    }

    &__in {
        padding-left: 48px;
        padding-right: 48px;
    }
}