-
    var footerMenu = [
        [
            'О компании', 'Магазин задач', 'FAQ', 'Блог', 'Кейсы', 'Партнерам', 'Контакты'
        ],
        [
            'Пользовательское соглашение', 'Политика конфиденциальности', 'Скачать реквизиты'
        ]
    ]


mixin pageFooter(pageTitle)
    footer.page-footer
        ._in.d-container
            ._menu.page-footer__wrap
                ._wrap
                    +footerMenu(footerMenu[0])
                +footerMenu(footerMenu[1])
            ._apps.page-footer__wrap
                +footerLinks("footer-links--page-footer")
            ._payment-system.page-footer__wrap
                +paymentSystems
            +footerContacts
