mixin questionsPage
    section.questions-page__list.page__section
        +questionsList
    section.questions-page__form
        .page__title-wrap
            h2.page-subtitle.page__subtitle Задайте вопрос
        .page__form
            +formQuestions
