mixin questionsPage
    section.questions-page__list.page__section
        h2._title.page-main-title.page__main-title Часто задаваемые вопросы
        +questionsList()
    section.questions-page__form
        .page__title-block
            h2.page-subtitle.cases-page__page-subtitle Задайте вопрос
        +formQuestions
