mixin caseHeader
    .case-header
        ._in
            p._text Задача выполнена для:
            a(href="www.centralm.ru")._link www.centralm.ru
        ._img
            img(src="i/clients-logo/workshop.png")


