mixin offer
    .offer
        ._img
            img(src="i/store/store-detail.png")
        dl._props
            dl._dl
                dd._dd Цена
                dt._dt 3000
                    span.ruble &nbsp;₽
            dl._dl
                dd._dd Категория
                dt._dt Для увеличения продаж
            dl._dl
                dd._dd Срок выполнения
                dt._dt 1 день
