/************ шрифты ***************/

@font-face {
    font-weight: 200;
    font-family: "Helvetica Neue";
    font-style: normal;
    src: url("../fonts/helveticaneuecyr-thin-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneuecyr-thin-webfont.woff") format("woff");
}

@font-face {
    font-weight: 500;
    font-family: "Helvetica Neue";
    font-style: normal;
    src: url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"),
        url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
}

@font-face {
    font-weight: 700;
    font-family: "Open Sans";
    font-style: normal;
    src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"),
            url("../fonts/opensans-bold-webfont.woff") format("woff");
}

@font-face {
    font-weight: 600;
    font-family: "Open Sans";
    font-style: normal;
    src: url("../fonts/opensans-semibold-webfont.woff2") format("woff2"),
            url("../fonts/opensans-semibold-webfont.woff") format("woff");
}

@font-face {
    font-weight: 400;
    font-family: "Open Sans";
    font-style: normal;
    src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
        url("../fonts/opensans-regular-webfont.woff") format("woff");
}

@font-face {
    font-weight: 300;
    font-family: "Open Sans";
    font-style: normal;
    src: url("../fonts/opensans-light-webfont.woff2") format("woff2"),
        url("../fonts/opensans-light-webfont.woff") format("woff");
}

@font-face {
    font-weight: 300;
    font-family: "Roboto";
    font-style: normal;
    src: url("../fonts/roboto-light.woff2") format("woff2"),
        url("../fonts/roboto-light.woff") format("woff");
}
@font-face {
    font-weight: 500;
    font-family: "Roboto";
    font-style: normal;
    src: url("../fonts/roboto-medium.woff2") format("woff2"),
        url("../fonts/roboto-medium.woff") format("woff");
}