/************ шрифты ***************/

@font-face {
    font-weight: 200;
    font-family: "Helvetica Neue";
    font-style: normal;
    src: url("../fonts/helveticaneuecyr-thin-webfont.woff2") format("woff2");
}

@font-face {
    font-weight: 700;
    font-family: "Open Sans";
    font-style: normal;
    src: url("../fonts/opensans-bold-webfont.woff2") format("woff2");
}

@font-face {
    font-weight: 300;
    font-family: "Open Sans";
    font-style: normal;
    src: url("../fonts/opensans-light-webfont.woff2") format("woff2");
}

/************ end шрифты ***************/
