$gradient: linear-gradient(80.07deg, #326BD2 0%, #5CD384 100%);

@mixin get-adaptive($point) {

    @if ($point == 0) {
        @content;
    }

    @else {

        @media (min-width: #{$point}px) {
            @content;
        }
    }
}

@mixin desktopStyle() {

    @media (min-width: $desktop) {
        @content;
    }
}

@mixin link {
    font-family: $fontOpenSans;
    color: color(blue);
    transition: opacity 300ms ease-in;

    &:hover {
        opacity: 0.8;
        transition: opacity 300ms ease-in;
    }

}

@function get ($map, $key) {

    @if map-has-key($map, $key) {

        @return map-get($map, $key);
    }

    @warn "Unknown `#{$key}` in `#{$map}`.";

    @return null;
}

@function color ($key) {

    @return get($colors, $key);
}

@mixin gradientText {
    display: table;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    color: color(green);
    background: $gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (-ms-high-contrast: none) {
        background: transparent;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}


@mixin base-img-style() {
    line-height: 0;
    margin: 0;

    img {
        max-width: 100%;
        max-height: 100%;
    }

}

@mixin base-list-style {
    margin: 0;
    padding: 0;
    list-style: none;
}

