$gradient: linear-gradient(80.07deg, #326BD2 0%, #5CD384 100%);

@mixin get-adaptive($point) {

    @if ($point == 0) {
        @content;
    }

    @else {

        @media (min-width: #{$point}px) {
            @content;
        }
    }
}


@function get ($map, $key) {
    @if map-has-key($map, $key) {
        @return map-get($map, $key);
    }

    @warn "Unknown `#{$key}` in `#{$map}`.";
    @return null;
}

@function color ($key) {
    @return get($colors, $key);
}

@mixin gradientText {
    display: table;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    color: color(green);
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (-ms-high-contrast: none) {
        background: transparent;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder { @content; }
    &:-moz-placeholder           { @content; }
    &::-moz-placeholder          { @content; }
    &:-ms-input-placeholder      { @content; }
}
