/************ page ***************/

.page {
    padding-top: 96px;
    padding-bottom: 96px;
    background: color(light_grey);

    &__main-title {
        margin-bottom: 64px;
        text-align: center;
        width: 100%;
    }

    &__form {
        max-width: 420px;
        margin-right: auto;
        margin-left: auto;
    }

    &__section {
        margin-bottom: 96px;
    }

    &__title-block {
        margin: 0 0 64px;
    }
}
