/************ page ***************/

.page {
    padding-top: 96px;
    padding-bottom: 96px;
    background: color(light_grey);

    @include desktopStyle {
        padding-bottom: 140px;
    }

    &__section-title {
        margin-bottom: 24px;

        @include desktopStyle {
            margin-bottom: 36px;
        }
    }

    &__title-wrap {
        margin-bottom: 64px;
        text-align: center;

        @include desktopStyle {
            margin-bottom: 72px;
        }
    }

    &__modals {
        display: none;
    }

    &__page-nav {
        padding-top: 40px;
        padding-bottom: 48px;
        background: color(light_grey);

        @include desktopStyle {
            flex: 0 0 auto;
            width: 300px;
            margin-right: 60px;
            padding: 0;
            background: transparent;
        }
    }


    &__side-nav {
        margin-right: -20px;

        @media (min-width: 480px) {
            margin-right: -30px;
        }

        @include desktopStyle {
            margin: 0;
        }
    }


    &__subtitle {
        margin-bottom: 24px;
    }

    &__bg-gray {
        background: color(light_grey);
    }

    &__narrow-wrap {
        max-width: 700px;
    }


    &__form {
        max-width: 420px;
        margin-right: auto;
        margin-left: auto;
    }

    &__section {
        margin-bottom: 96px;

        &:last-child {
            margin-bottom: 0;
        }

        @include desktopStyle {
            margin-bottom: 140px;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include desktopStyle {
            flex-wrap: nowrap;
            align-items: center;
        }
    }
}
