/************ page ***************/

.page {
    padding-top: 96px;
    padding-bottom: 96px;
    background: color(light_grey);

    &__title-wrap {
        //width: 100%;
        margin-bottom: 64px;
        text-align: center;

        @include desktopStyle {
            margin-bottom: 72px;
        }
    }


    &__subtitle {
        margin-bottom: 24px;
    }


    &__form {
        max-width: 420px;
        margin-right: auto;
        margin-left: auto;
    }

    &__section {
        margin-bottom: 96px;

        &:last-child {
            margin-bottom: 0;
        }

        @include desktopStyle {
            margin-bottom: 140px;
        }

    }
}
