/************ типографка ***************/

@import "_";

.page-title {
    margin: 0;
    font-weight: 200;
    font-size: 32px;
    line-height: 44px;
    font-family: $fontHelvetica;
    text-align: center;
    color: color(white);
    letter-spacing: 2px;

    &--cases {
        padding-top: 105px;
        padding-bottom: 216px;
    }
}

.page-h3 {
    margin: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 165%;
    font-family: $fontOpenSans;
    color: color(white);
}

.page-h4 {
    margin: 0;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    color: color(black);
    letter-spacing: 0.5px;
}


.section-title {

    @include gradientText;
    width: 100%;
    margin: 0;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;
    font-family: $fontHelvetica;
    letter-spacing: 2px;
}

.page-subtitle {
    margin: 0;
    font-weight: 100;
    font-size: 40px;
    line-height: 50px;
    font-family: $fontHelvetica;
    text-align: center;
    color: color(black);
    font-style: normal;
    letter-spacing: 2px;
}

.page-subheading {
    margin: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 165%;
    font-family: $fontOpenSans;
    text-align: center;
    color: color(black);
}

.gradient-text {

    @include gradientText;
}

