$ex: 0;
$sm: 480px;
$m: 560;
$ml: 640px;
$l: 992px;
$xl: 1024px;


$colors: (
    footer: #333333,
    blue: #0ABAEE,
    green: #5CD384,
    white: #ffffff,
    black: #000000,
    grey: #ECECEC,
    gray98: #FAFAFA,
    gray92: #EBEBEB,
    light_grey: #F8F8FA,
    dark_grey: #696969,
    placeholder: #808080,
    disclaimer: #989898,
    error: #e94e1d,
    error2: #EC0000,
    bg:#F6F6F6,
    gainsboro: #D8D8D8,
    blue2: #009EE3,
    yellow: #C5C5C5,
);

$fontOpenSans: "Open Sans", "Arial", sans-serif;
$fontHelvetica: "Helvetica Neue",  "Arial", sans-serif;
$mobMenu: 560px;
$desktop: 1024px;
$preheaderPoint: 768px;

$speed: 300ms;
