.arrow-block {
    position: relative;
    padding-bottom: 32px;

    &:before {
        position: absolute;
        display: block;
        content: "";
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 32px;
        height: 32px;
        background: url("i/icons/arrow-down.svg");
        background-repeat: no-repeat;
    }

    &:last-child {
        &:before {
            content: none;
        }
    }

    @media (min-width: 640px) {
        padding-left: 16px;
        padding-right: 16px;

        &:before {
            bottom: 50%;
            left: 100%;
            transform: translate(0, 50%) rotate(270deg);
        }
    }

}