mixin mapPin
    .map-pin
        ._in
            ._time 9:00 — 18:00
            ._text по рабочим дням
            a(href=`mailto:${contacts.email}`)._link=contacts.email
            a(href=`tel:${contacts.telLink}`)._link=contacts.tel
