mixin loginSvg()
    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.46937 0H14.1663V16H4.46937V12.9231H5.68149V14.7692H12.9542V1.23077H5.68149V3.07692H4.46937V0ZM7.32216 3.87255L11.3871 8L7.32216 12.1275L6.46506 11.2572L9.06682 8.61539H0.833008V7.38462H9.06682L6.46506 4.74284L7.32216 3.87255Z" fill="url(#paint0_linear)"/>
    <defs>
    <linearGradient id="paint0_linear" x1="0.833008" y1="16" x2="16.1745" y2="13.7613" gradientUnits="userSpaceOnUse">
    <stop stop-color="#326BD2"/>
    <stop offset="1" stop-color="#5CD384"/>
    </linearGradient>
    </defs>
    </svg>
