mixin form(fieldList, formName, textBtn, disclaimer=true)
    form.form(class=`js-form-${formName}`)
        ._in
            each item in fieldList
                ._input
                    if(item.type == 'textarea')
                        +formTextarea(item)
                    else if (item.type ==  'inputFile')
                        +dropzone
                    else
                        +formInput(item)
        ._button
            +buttonBlue(textBtn)
        if(disclaimer)
            p.__disclaimer.disclaimer
                | Нажимая на кнопку «#{textBtn}», вы даете согласие на отправку и обработку своих &nbsp
                a(href="#") персональных данных

