/************* form *************/

@import "src/style/_";

.form {

    $this: &;

    &__input {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__in {
        margin-bottom: 30px;
    }

    &__button {
        margin-bottom: 20px;
    }

    &__dropzone {
        position: relative;
        min-height: 70px;
        max-height: 70px;
        z-index: 100;
        box-sizing: border-box;
        border: 1px dashed #0ABAEE;
        cursor: pointer;

        &:hover .form__dropzone {
            background: rgba(10, 186, 238, 0.08);
            transition: background 200ms ease-in;
        }
    }
}

/************* end form *************/
