mixin footerLinks
    .footer-links
        ._item
            ._footer-app.footer-app
                +appGoogle
            ._footer-app.footer-app
                +appApple
        ._item
            +socialLinks
        ._item
            a(href="https://worksolutions.ru/")._link.text-link.outside-link worksolutions.ru