-
    var param = {
        text: 'Подобные ошибки обычно связаны с изменениями структур данных и АПИ модулей Битрикс, которые нарушают работу шаблонов. Обнаруживаются они не сразу, а только когда звонит недовольный покупатель, у которого не получилось оформить заказ и оплатить товар.',
    }

-
    var groupUpdate = [
        {
            title: 'Подготовка тестовой площадки (стейджа)',
            text: 'Мы создаем копию сайта и запускаем ее на собственном хостинге, который в точности воссоздает серверное окружение на тестовой площадке для полной имитации работы боевого сайта.'
        },
        {
            title: 'Обновление на стейдже',
            text: 'Специалист производит обновление сайта на тестовой площадке. Выявленные ошибки сразу же устраняет и фиксирует изменения кода, чтобы моментального перенести их на боевой сайт.'
        },
        {
            title: 'Обновление на боевом сервере',
            text: 'Перед обновлением мы закрываем публичную часть сайта, чтобы пользователи не оставляли заказы. Затем переносим изменения с тестовой площадки на продакшн, только после этого открываем публичную часть сайта и снова тестируем бизнес-процесс интернет-магазина.'
        }
    ]


mixin updateBitrix
    .page__section
        .article-blog
            p.article-blog-text
                | Кажется, нет ничего проще, чем обновить «1С-Битрикс» — нажимаете на кнопку, и купленная программа все делает за вас, а если что-то пойдет не так, на выручку поспешит специалист техподдержки.
            p.article-blog-text
                | Во всяком случае, так&nbsp;
                a(href="#" target="_blank") обещают на официальном сайте
                | , тогда как в действительности после обновления что-то обязательно ломается, а сотрудник техподдержки отказывается помогать.
            p.article-blog-text
                | Давайте разберемся, почему так происходит, и на что стоит обратить внимание, чтобы не попасть в нехорошую ситуацию.
            h3.article-blog-header Неужели обман?
            p.article-blog-text Нет, при определенных условиях обновление действительно проходит без проблем.
            p.article-blog-text Здесь нужно понимать, что «1С-Битрикс. Управление сайтом» — это готовый продукт. Вместе с лицензией вы покупаете полноценный сайт, для которого остается только настроить сервер и добавить необходимый контент. Иными словами, вы получаете рабочий интернет-магазин в стандартном дизайне Битрикс.
            p.article-blog-text Но кому нужен стандартный дизайн, когда Битрикс позволяет менять внешний вид сайта и дополнять функционал под индивидуальные нужды?
            p.article-blog-text Владельцы интернет-магазинов используют эту возможность по полной, создавая уникальные шаблоны сайта и подстраивая функционал под свои бизнес-процессы. В конечном итоге от стандартного сайта остается только ядро системы, модифицировать которое запрещает лицензия.
            .article-wrapper
                .container-max
                    .row-wrap
                        .col-12.col-ml-6.col-lg-3
                            img(src='i/blog-detail/update-1.png' alt="Изображение")
                        .col-12.col-ml-6.col-lg-3
                            img(src='i/blog-detail/update-2.png' alt="Изображение")
                        .col-12.col-ml-6.col-lg-3
                            img(src='i/blog-detail/update-3.png' alt="Изображение")
            p.article-blog-text Даже опытный специалист не сразу отличит сайт на Битриксе только по оформлению. Разработчики Битрикс, естественно, не учитывают подобные изменения и не несут за них ответственности, и, следовательно, не станут рассматривать обращение в случае каких-то неисправностей.
            p.article-blog-text Обновление ядра идеально проходит только на штатном сайте. Это легко объяснить — при подготовке обновления разработчики Битрикс тщательно тестируют код в первую очередь на стандартной версии сайта и успевают выявить и устранить все проблемы.
            h3.article-blog-header Что же происходит с нештатными версиями сайта?

            p.article-blog-text В 90% случаев самостоятельное обновление приводит к мелким неисправностям в работе, которые негативно сказываются на удобстве и информативности сайта.
            p.article-blog-text Вот перечень распространенных ошибок, с которыми обращаются клиенты:
            .article-blog-container
                ul.article-blog-list
                    li Товар не добавляется в корзину.
                    li Не отображается количество добавленного в корзину товара.
                    li Товар добавляется с некорректной ценой.
                    li В разделе каталога не выводятся скидки на товары.
                    li В разделе каталога не выводится минимальная цена товара.
                    li К товару не применяется скидка.
                    li На детальной странице товара не выводятся свойства торговых предложений.
                    li На странице оформления заказа неверно рассчитывается сумма заказа.
                    li На странице оформления заказа не выводятся службы доставки.
                    li Некорректный обмен товарами и заказами с 1С.
                    li Некорректный обмен товарами и заказами с Мой склад.
                    li Полностью перестала работать нештатная технология AJAX.
            .article-blog-container
                .article-blog-group
                    p.article-blog-text=param.text
            p.article-blog-text Бывают и более критичные случаи, когда обновление приводит к полной неработоспособности сайта.
            .article-blog-img
                img(src='i/blog-detail/update-4.png' alt="Изображение")
            h3.article-blog-header Как избежать подобных неприятностей при обновлении?
            p.article-blog-text В WS Support процесс обновления Битрикс — стандартная услуга, которая не вызывает сложностей.
            p.article-blog-text Специалисты отдела проводят обновление в три этапа:
            .article-wrapper
                .container
                    +articleNumberGroup(groupUpdate)
                    p.article-blog-text.text-center.flex-baseline
                        span.subject-v2.text-green 2 - 3 часа
                        span.content-block-text  —     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Столько занимает безопасное обновление боевого сайта
            p.article-result
                | Таким образом, доверив обновление Битрикс профессионалам, вы убережете себя от непредвиденных трат и финансовых потерь.

            +blogDetailFooter