/*************** social-links ****************/

@import "src/style/_";

.social-links {
    margin: 0 -10px;
    padding: 0;

    &__item {
        display: inline-block;
        margin: 0 10px;
        font-size: 0;
    }

    &__link {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: 1px solid transparentize(color(white), 0.5);
        border-radius: 4px;
    }
}
