mixin contactsPage
    section.contacts-page__section
        .contacts-page__in
            .contacts-page__map-wrap
                //+mapPin
                #map.contacts-page__map
            .contacts-page__details
                +requisite
    section.contacts-page__form
        .page__title-wrap
            h2.page-subtitle.page__subtitle Запросить договор
        .page__form
            +formContacts('contacts')

