mixin preheader()
    section.preheader
        a(href="mailto:info@wssupport.ru")._link info@wssupport.ru
        a(href="tel:88633226025")._link 8 (863) 322-60-25
        ._wrapper
            button(type="button") Перезвоните мне