/*********** question-block *************/

@import "src/style/_";

$questionsIcon: ("man", "time", "price", "payment",
"prepaid", "hosting", "bags", "testing",
"priority", "access", "syncing", "portal", "beginning");

.question-block {
    padding: 30px;
    background: color(white);
    border: 2px solid color(grey);
    border-radius: 4px;

    &__title {
        margin: 0;
        margin-bottom: 20px;
        font-weight: normal;
        font-size: 26px;
        line-height: 35px;
        color: color(black);
        letter-spacing: 0.5px;
    }

    &__text {
        margin: 0;
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 18px;
        line-height: 165%;
    }

    &__icon {
        display: block;
        width: 80px;
        height: 80px;
        margin-left: auto;
        background-repeat: no-repeat;
        background-position: center;

        @each $question in $questionsIcon {
            &--#{$question} {
                background-image: url("i/icons/#{$question}.svg");
            }
        }
    }
}
