mixin casesDetailPage
    section.cases-detail-page__head.cases-detail-page__container
        +caseHeader
    section.page__section.cases-detail-page__container
        .block-description
            include description
    .cases-detail-page__footer
        section.cases-detail-page__more.container
            include cases-more-list
            .cases-detail-page__button
                +buttonBlue(btnText.cases)
        section.cases-detail-page__container
            .page__title-wrap
                h2.page-subtitle.page__subtitle Свяжитесь с нами
                p.page__subheading.page-subheading Мы работаем со всей страной от Владивостока до Калининграда
            .page__form
                +formDefault('cases')

