h3  Задача
p   Контент-менеджеры сайта “Дифлюкан” регулярно публикуют новости. Для редакторского контроля материалы сначала размещаются на тестовой версии сайта, затем вручную переносятся на продакшн. Такой подход требует большого количества времени, особенно если публикаций много.
    | Инфоблок статей имеет сложную структуру.
img(src="i/case-detail/yp3g44ng.png" alt="Описание изображения")
p   Из-за этого при экспорте контента часто пропадают ссылки на видео,
    | изображения, комментарии к ним и другие свойства элементов,
    | и на исправление ошибок также уходит время.
h3  Решение
p   Требовался надежный инструмент автоматического переноса данных для публикаций. Разработка миграции с нуля, которая происходит в один клик, уступала готовому модулю по затратности, поэтому выбрали готовый
    | &nbsp;модуль&nbsp;
    a(href="#") Экспорт/Импорт товаров в Excel
    | , который позволяет настраивать экспорт/импорт для отдельных инфоблоков.
h3 Установка и настройка модуля
p   Модуль доступен в разделе “Каталог решений” в Маркетплейсе.

img(src="i/case-detail/i1ywh69w.png" alt="Описание изображения")

p   Экспорт настраиваем прямо в административном интерфейсе Битрикс в разделе “Экспорт в эксель”:

img(src="i/case-detail/rcoygnqw.png" alt="Описание изображения")

p   Для каждого инфоблока можно один раз задать настройки, которые будут выполняться при каждом последующем экспорте.
p   В настройках профиля указываем, какой файл мы хотим перенести и куда, после чего модуль загружает выбранные элементы на страницу

img(src="i/case-detail/j0wzjvby.png" alt="Описание изображения")
img(src="i/case-detail/gs1gz1le.png" alt="Описание изображения")

p   Сразу видно, какие данные будут сохранятся в файл. Выгружаемые поля можно добавлять, удалять и настраивать.
p   Создаем правило, чтобы при размещении превью-изображения в файл добавлялся адрес сайта-источника. Таким образом, при импорте изображения модуль загружает картинку напрямую.
p   В результате экспорта контент-менеджеры получают готовый файл эксель, который можно вручную загрузить на сайт.
p   Импорт можно также настроить в соответствующем разделе.

img(src="i/case-detail/oouwz5m1.png" alt="Описание изображения")

p Выбираем там нужный профиль, в котором указан загружаемый файл и инфоблок для загрузки элементов. На следующем шаге модуль загружает элементы из файла на страницу.

img(src="i/case-detail/9b76x3yn.png" alt="Описание изображения")

p   На этапе импорта мы можем настроить загружаемые поля и при необходимости добавить для каждого правила преобразования, что сделает процесс импорта удобным и гибким.
footer
    | Теперь контент-менеджеру достаточно перенести всего один эксель-файл вместо повторного создания статей на боевом сайте.
