h3  Задача
p   Контент-менеджеры сайта “Дифлюкан” регулярно публикуют новости. Для редакторского контроля материалы сначала размещаются на тестовой версии сайта, затем вручную переносятся на продакшн. Такой подход требует большого количества времени, особенно если публикаций много.
    | Инфоблок статей имеет сложную структуру.
img(src="i/case-detail/yp3g44ng.png" alt="Описание изображения")
p   Из-за этого при экспорте контента часто пропадают ссылки на видео,
    | изображения, комментарии к ним и другие свойства элементов,
    | и на исправление ошибок также уходит время.