mixin fonts
    link(rel="preload" href="fonts/opensans-light-webfont.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/opensans-light-webfont.woff" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/opensans-regular-webfont.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/opensans-regular-webfont.woff" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/opensans-bold-webfont.woff" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/opensans-bold-webfont.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/helveticaneuecyr-thin-webfont.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/helveticaneuecyr-thin-webfont.woff" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/roboto-light.woff" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/roboto-light.woff2" as="font" crossorigin="anonymous")
