mixin styles
    link(href="css/libs/slick.css", rel="stylesheet")
    link(href="css/libs/slick-theme.css", rel="stylesheet")
    link(href="css/libs/basic.css", rel="stylesheet")
    link(href="css/libs/dropzone.css", rel="stylesheet")
    link(href="css/libs/swiper.css", rel="stylesheet")
    link(href="css/libs/select2.min.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")
