-
    var marketNav = [
        "Безопасность", "Для интернет-магазина",
        "Для увеличения продаж", "Поддережка клиентов", "Навигация",
        "SEO", "Разное"
    ]

mixin marketPage
    .store-page__wrap
        section.store-page__side-nav.page__section
            .container
                h4.page-h4.store-page__subtitle Каталог
                +sideNav(marketNav)

        section.store-page__section.page__section
            .container
                h2.section-title.page__title-wrap Новинки
                include store-page-new

        section.store-page__section.page__section
            .container
                h2.section-title.page__title-wrap Рекомендуем для продвижения
                include store-page-promotion

        section.store-page__section.page__section
            .container
                h2.section-title.page__title-wrap Рекомендуем для безопасности
                include store-page-security
