-
    var marketNav = [
        "Безопасность", "Для интернет-магазина",
        "Для увеличения продаж", "Поддережка клиентов", "Навигация",
        "SEO", "Разное"
    ]

mixin marketPage
    .store-page__in.d-container
        section.page__page-nav.page__section
            .m-container
                .page__side-nav
                    +sideNavBlock("Каталог", marketNav)
        .store-page__wrap
            section.store-page__section.page__section
                .m-container
                    h2.store-page__section-title.section-title.page__title-wrap Новинки
                    include store-page-new

            section.store-page__section.page__section
                .m-container
                    h2.store-page__section-title.section-title.page__title-wrap Рекомендуем для продвижения
                    include store-page-promotion

            section.store-page__section.page__section
                .m-container
                    h2.store-page__section-title.section-title.page__title-wrap Рекомендуем для безопасности
                    include store-page-security
