/************** store-page *******************/

@import "src/style/_";

.store-page {
    padding-top: 0;
    background: color(white);

    &__section-title {
        text-align: left;
    }

    &__in {

        @include desktopStyle {
            display: flex;
            flex-wrap: nowrap;
            padding-top: 140px;
        }
    }


    &__wrap {

        @include desktopStyle {
            flex: 1 0;
        }
    }


    &__section {
        padding-bottom: 40px;
        border-bottom: 1px solid color(gray92);

        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}