/************** store-page *******************/

@import "src/style/_";

.store-page {
    padding-top: 0;
    background: color(white);

    &__title-wrap {
        margin-bottom: 48px;
        margin-left: 0;
        margin-right: auto;
        text-align: left;

        font-size: 40px;
        line-height: 50px;

        @media(min-width: 480px) {
            font-size: 48px;
            line-height: 60px;
        }

    }

    &__wrap {
        padding-top: 72px;

        @include desktopStyle {
            width: calc(100% - 360px);
            padding-top: 0;
        }
    }

    &__spacer {
        margin-bottom: 48px;
        padding-bottom: 40px;
        border-bottom: 1px solid #EBEBEB;

        &:last-child {
            margin-bottom: 0;
        }
    }


    &__in {

        @include desktopStyle {
            display: flex;
            flex-wrap: nowrap;
            padding-top: 140px;
        }
    }

    &__offer {
        margin-bottom: 48px;
    }


    &__section {
        margin-bottom: 72px;
        padding-bottom: 40px;
        border-bottom: 1px solid color(gray92);

        @include desktopStyle {
            margin-bottom: 96px;
        }
    }

    &__button {
        max-width: 320px;

    }

}
