-
    var listData = [
        {
            title: 'Вы ставите задачу',
            text: 'Опишите свою задумку простыми словами и создайте обращение в Личном кабинете на сайте или в мобильном приложении. Если есть сомнения, то задайте вопрос напрямую дежурному специалисту в WhatsApp, и вам быстро ответят.',
            img: 'i/index/1-1.png'
        },
        {
            title: 'Мы оцениваем',
            text: 'За один день оцениваем объем работ и называем точную стоимость выполнения вашей задачи. Только после согласования с вами всех деталей, назначаем сроки и исполнителя.',
            img: 'i/index/1-2.png'
        },
        {
            title: 'Берем в работу и выполняем',
            text: 'Контролируйте ход выполнения задачи от начала и до конца. Узнавайте о смене статуса из уведомлений. У каждой задачи своя уникальная карточка. В процессе ничего не потеряется — все действия и переписка с исполнителем навсегда сохранятся в Личном кабинете.',
            img: 'i/index/1-3.png'
        }
    ];

mixin doubleStageBlock
    ul.double-stage-block
        each val in listData
            li._item
                ._content.line-block
                    ._in
                        p.__title=val.title
                        p._text=val.text
                p._img
                    img(src=val.img alt=val.title)
