/********************* side-nav **********************/

@import "src/style/_";

$marging: 8px;
$transition: background 250ms ease-in;

.side-nav {
    display: flex;

    @include desktopStyle {
        display: block;
    }

    &__wrap {
        display: inline-block;
        margin: 0 $marging;

        @include desktopStyle {
            display: block;
            margin: 0;
        }
    }


    &__item {
        display: block;
        padding: $marging 20px;
        border-radius: 4px;

        font-size: 16px;
        line-height: 40px;
        color: color(black);
        box-shadow: inset 0 0 0 2px color(grey);
        text-decoration: none;
        letter-spacing: 0.05em;

        @include desktopStyle {
            padding-left: 40px;
            box-shadow: none;
            transition: $transition;
            border-radius: 0;
        }

        &:hover {
            @include desktopStyle {
                background: color(bg);
                transition: $transition;
            }
        }

        &.active {
            position: relative;
            padding-left: 28px;


            &::before {
                content: "";
                position: absolute;
                top: 3px;
                right: 3px;
                left: 3px;
                display: block;
                width: 8px;
                height: calc(100% - 6px);
                background: linear-gradient(260.07deg, #326BD2 0%, #5CD384 100%);
                border-radius: 2px;
                opacity: 0.6;
            }

            @include desktopStyle {
                padding-left: 40px;
            }
        }
    }
}