/******************* card *********************/

@import "src/style/_";

.partners {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: -40px;
    margin-left: -16px;
    margin-right: -16px;

    @media(min-width: 480px) {
        margin-bottom: -64px;
        margin-left: -20px;
        margin-right: -20px;

    }

    &__item {
        @include base-img-style;

        display: block;
        margin-bottom: 40px;
        margin-left: 16px;
        margin-right: 16px;
        flex: 0 0 auto;
        height: 32px;
        line-height: 0;

        @media(min-width: 480px) {
            height: 48px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 64px;
        }
    }
}