mixin footerContacts
    .page-footer__company
        a(href="#").page-footer__logo.page-footer__box
            img(src="i/logo/logo_desktop.svg" alt="Логотип сайта")
        .page-footer__box
            .page-footer__copyright
                p © WS Support
                p Понятная техподдержка сайтов на 1С-Битрикс с гарантией выполнения задач
            a(href="tel:88633226025").link.page-footer__link 8 (863) 322-60-25
        .page-footer__bitrix
            img(src="i/footer/bitrix.png" alt="Золотой сертифицированный партнер Битрикс")